:root 
{
    --cor-primaria: #f06;
    --texto: #fff;
    --bg-padrao: #111;
    --bg-destaque: #2d2d2d;
    --font: 'Roboto', san-serif;
}

*
{
    box-sizing: border-box;
    color: var(--texto);
    font-family: var(--font);
    margin: 0;
}

body
{background-color: var(--bg-padrao);}

#div-header-top
{
    align-items: flex-end;
    background-color: var(--bg-destaque);
    display: flex;
    padding: .5em 1em 0 1em;
    z-index: 1;
}

h1
{color: var(--cor-primaria);}

nav 
{
    flex-grow: 1;
    margin: 0 1em;
}

#lista-nav
{
    display: flex;
    list-style: none;
    padding: 0;
}

#lista-nav > li:last-child
{flex-grow: 1;}

#lista-nav > li:last-child a
{text-align: end;}

a
{
    display: block;
    text-decoration: none;
}

.link-nav 
{margin: 0 1em;}

main
{background-color: var(--bg-padrao);}

section
{
    display: flex;
    flex-direction: column;
}

article
{
    display: flex;
    margin-top: 1em;
}


@media (max-width: 550px) 
{
    h1 {font-size: 1.5em;}

    #div-header-top
    {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    nav {margin: .5em 0;}

}

@media (min-width:551px) and (max-width: 900px)
{
    header {width: 100vw;} 
}